<main class="min-h-full w-full flex flex-col items-center">

    <div class="w-[90%] text-white mt-[44px]">
        <div class="container mx-auto px-4">
            @for (cat of skillsCategories(); track cat.id) {
                @if (!cat.parent) {
                    <!-- Проверяем, есть ли скиллы у родительской категории ИЛИ у любой дочерней -->
                    @if (
                        skills().some((skill) => skill.categoryId == cat.id) ||
                        skills().some((skill) =>cat.children?.some((child) => child.id == skill.categoryId))
                    ) {
                        <div class="category-block mb-10">
                            <h2 class="text-[16px] mb-6 pb-2">
                                {{ cat.name }}
                            </h2>

                            <!-- Одна общая сетка для всех скиллов -->
                            <div class="skills-grid flex flex-wrap gap-4">
                                <!-- Скиллы родительской категории -->
                                @for (skill of skills(); track $index) {
                                    @if (skill.categoryId == cat.id) {
                                        <!-- Скилл -->
                                        <div 
                                            class="p-4 w-[300px] flex items-center gap-5"
                                            [class]="skillsToDelete().some((s => s.name === skill.name)) ? 'bg-[#252525] rounded-lg' : ''"
                                            (click)="isDeleteActive()? skillClickDelete(skill) : openUpdateSkillDialog(skill)"
                                        >
                                            <div
                                                class="w-[100px] h-1"
                                                [ngClass]="{
                                                    'bg-[#3B3B3B]':
                                                        masteryValues[skill.mastery] == 20,
                                                    'bg-[#145B7B]':
                                                        masteryValues[skill.mastery] == 40,
                                                    'bg-[#335D35]':
                                                        masteryValues[skill.mastery] == 60,
                                                    'bg-[#7F5C00]':
                                                        masteryValues[skill.mastery] == 80,
                                                    'bg-[#C63031]':
                                                        masteryValues[skill.mastery] == 100,
                                                    'bg-[#767676]': 
                                                        skillsToDelete().some((s => s.name === skill.name)),
                                                }"
                                            >
                                                <div
                                                    class="h-full"
                                                    [style.width.%]="masteryValues[skill.mastery]"
                                                    [ngClass]="{
            'bg-[#959595]': skillsToDelete().some((s => s.name === skill.name)),
            'bg-[#767676]': !skillsToDelete().some((s => s.name === skill.name)) && masteryValues[skill.mastery] == 20,
            'bg-[#29B6F6]': !skillsToDelete().some((s => s.name === skill.name)) && masteryValues[skill.mastery] == 40,
            'bg-[#66BB6A]': !skillsToDelete().some((s => s.name === skill.name)) && masteryValues[skill.mastery] == 60,
            'bg-[#FFB800]': !skillsToDelete().some((s => s.name === skill.name)) && masteryValues[skill.mastery] == 80,
            'bg-[#C63031]': !skillsToDelete().some((s => s.name === skill.name)) && masteryValues[skill.mastery] == 100
        }"
                                                ></div>
                                            </div>

                                            <div>
                                                <p class="text-[#767676] text-[16px]">
                                                    {{ skill.name }}
                                                </p>
                                            </div>
                                        </div>
                                    }
                                }

                                <!-- Скиллы всех дочерних категорий (без отображения самих категорий) -->
                                @if (cat.children) {
                                    @for (child of cat.children; track child.id) {
                                        @for (skill of skills(); track skill.name) {
                                            @if (skill.categoryId == child.id) {
                                                <div 
                                                    class="p-4 w-[300px] flex items-center gap-5"
                                                    [class]="skillsToDelete().some((s => s.name === skill.name)) ? 'bg-[#252525] rounded-lg' : ''"
                                                    (click)="isDeleteActive() ? skillClickDelete(skill) : openUpdateSkillDialog(skill)"
                                                >
                                                    <div
                                                        class="w-[100px] h-1"
                                                         [ngClass]="{                                          
            'bg-[#959595]': skillsToDelete().some((s => s.name === skill.name)),
            'bg-[#767676]': !skillsToDelete().some((s => s.name === skill.name)) && masteryValues[skill.mastery] == 20,
            'bg-[#145B7B]': !skillsToDelete().some((s => s.name === skill.name)) && masteryValues[skill.mastery] == 40,
            'bg-[#335D35]': !skillsToDelete().some((s => s.name === skill.name)) && masteryValues[skill.mastery] == 60,
            'bg-[#7F5C00]': !skillsToDelete().some((s => s.name === skill.name)) && masteryValues[skill.mastery] == 80,
            'bg-[#C63031]': !skillsToDelete().some((s => s.name === skill.name)) && masteryValues[skill.mastery] == 100
        }"
                                                    >
                                                        <div
                                                            class="h-full"
                                                            [style.width.%]="
                                                                masteryValues[skill.mastery]
                                                            "
                                                            [ngClass]="{
            'bg-[#959595]': skillsToDelete().some((s => s.name === skill.name)),
            'bg-[#767676]': !skillsToDelete().some((s => s.name === skill.name)) && masteryValues[skill.mastery] == 20,
            'bg-[#29B6F6]': !skillsToDelete().some((s => s.name === skill.name)) && masteryValues[skill.mastery] == 40,
            'bg-[#66BB6A]': !skillsToDelete().some((s => s.name === skill.name)) && masteryValues[skill.mastery] == 60,
            'bg-[#FFB800]': !skillsToDelete().some((s => s.name === skill.name)) && masteryValues[skill.mastery] == 80,
            'bg-[#C63031]': !skillsToDelete().some((s => s.name === skill.name)) && masteryValues[skill.mastery] == 100
        }"
                                                        ></div>
                                                    </div>

                                                    <div>
                                                        <p class="text-[#767676] text-[16px]">
                                                            {{ skill.name }}
                                                        </p>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                }
                            </div>
                        </div>
                    }
                }
            }
        </div>

        <!-- ADD / REMOVE BUTTONS -->

        <div class="w-full h-[100px] flex justify-end items-start gap-10">
            @if (isDeleteActive()) {
                <button matButton="outlined" type="button" class="px-15!" (click)="isDeleteActive.set(false); skillsToDelete.set([])">
                CANCEL
            </button>
            <button
                class="px-15!"
                matButton="filled"
                color="primary"
                type="button"
                (click)="deleteSkills()"
            >
                <div class="flex gap-2">
                    <span>DELETE</span> <div class="rounded-[50%] h-[20px] w-[20px] bg-white"> <span class="text-[#c63031]">{{skillsToDelete().length}}</span> </div>
                </div>
            </button>
            } @else {
                @if (currentCv().user?.id == authService.currentUser().id) {
                    <div
                        class="text-[#767676] flex items-center gap-2 hover:cursor-pointer"
                        (click)="openAddSkillDialog()"
                    >
                        <mat-icon class="text-[#767676]!"> add </mat-icon>
                        <span>ADD SKILL</span>
                    </div>

                    <div
                        class="text-[#C63031] flex items-center gap-2"
                        (click)="isDeleteActive.set(!isDeleteActive())"
                    >
                        <mat-icon class="text-[#C63031]!"> delete </mat-icon>
                        <span>REMOVE SKILLS</span>
                    </div>
                }
            }
        </div>
        <!--  -->
    </div>
</main>
