<main class="w-full px-5">
    

    <div 
        class="h-[40px] w-[300px] flex items-center rounded-[40px] border-[#FFFFFF14] border text-white mb-4 mt-[8px] px-3 focus:outline-0"
    >
    <mat-icon matPrefix class="text-white! opacity-70!">search</mat-icon>
    <input 
        (keyup)="applyFilter($event)"  
        #input
        class="text-white h-[80%] w-full focus:outline-0 ml-2"
    >
    </div>

    <!--<table mat-table [dataSource]="dataSource()" class="w-full bg-red-500" class="mat-shadow-2">
        <ng-container matColumnDef="f_name">
            <th mat-header-cell *matHeaderCellDef>First Name</th>
            <td mat-cell *matCellDef="let elem">{{elem.first_name}}</td>
        </ng-container>

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>
    </table>-->

    <table 
        mat-table [dataSource]="dataSource" 
        class="w-full mat-shadow-2"
        matSort
        matSortActive="department"
        matSortDirection="asc"
        matSortDisableClear
    >
    <ng-container matColumnDef="avatar" >
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let elem" ><img [src]="elem.profile.avatar" height="40px" width="40px" alt="avatar"></td>
    </ng-container>
    
    <ng-container matColumnDef="f_name" >
        <th mat-header-cell *matHeaderCellDef >First Name</th>
        <td mat-cell *matCellDef="let elem" >{{elem.profile.first_name}}</td>
    </ng-container>

    <ng-container matColumnDef="l_name" >
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let elem" >{{elem.profile.last_name}}</td>
    </ng-container>

    <ng-container matColumnDef="email" >
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let elem" >{{elem.email}}</td>
    </ng-container>

    <ng-container matColumnDef="department" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="sort by department">Department</th>
        <td mat-cell *matCellDef="let elem" >{{elem.department_name}}</td>
    </ng-container>

    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>Position</th>
        <td mat-cell *matCellDef="let element"> {{element.position_name}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
    
    </table>
</main>