<main class="w-full  min-h-full flex flex-col items-center">

    @if(!userId()){
        <div class="w-full h-[44px]">
            <div
                class="text-[#FFFFFFB2] ml-[45px] mt-[16px] text-[16px] "
            >
                <a 
                    class="hover:cursor-pointer"
                    routerLink="/languages"
                >
                    Languages
                </a>
            </div>
    </div>
    }

    <div class="w-[60%] grid lg:grid-cols-3 md:grid-cols-2 gap-10 lg:gap-30 p-4">
        @for (lang of langs(); track lang.name) {

            <div 
                class="flex justify-between px-2 py-1 gap-15"
                (click)="isDeleteActive() ? langDeleteClick(lang) : openUpdateLangDialog(lang)"
            >
                <span [class]="langsToDelete().some(l => l.name == lang.name) ? 'text-white' : 'text-[#767676]'">{{ lang.name }}</span>
                <span
                    [ngClass]="{
                        'text-white' : langsToDelete().some(l => l.name == lang.name),
                        'text-[#767676]': lang.proficiency[0] == 'A',
                        'text-green-400': lang.proficiency[0] == 'B',
                        'text-[#FFB800]': lang.proficiency[0] == 'C',
                        'text-[#C63031]': lang.proficiency[0] == 'N',
                    }"
                    >{{ lang.proficiency }}</span
                >
            </div>

        }
    </div>
    <div class="mt-10 lg:mt-0 md:mt-0 w-[80%] flex justify-end gap-10">
        @if (isDeleteActive()) {

            <button matButton="outlined" type="button" class="px-15!" (click)="isDeleteActive.set(false); ">
                CANCEL
            </button>
            <button
                class="px-15!"
                matButton="filled"
                color="primary"
                type="button"
                (click)="deleteLangs()"
            >
                <div class="flex gap-2">
                    <span>DELETE</span> <div class="rounded-[50%] h-[20px] w-[20px] bg-white"> <span class="text-[#c63031]">{{langsToDelete().length}}</span> </div>
                </div>
            </button>

        } @else {
            @if (!userId() || userId() == authService.currentUserId()) {
                <div
                    class="text-[#767676] flex items-center gap-2 hover:cursor-pointer"
                    (click)="openAddLangDialog()"
                >
                    <mat-icon class="text-[#767676]!"> add </mat-icon>
                    <span>ADD LANGUAGE</span>
                </div>

                <div
                    class="text-[#C63031] flex items-center gap-2 hover:cursor-pointer"
                    (click)="isDeleteActive.set(!isDeleteActive())"
                >
                    <mat-icon class="text-[#C63031]!"> delete </mat-icon>
                    <span>REMOVE SKILLS</span>
                </div>
            }
        }
    </div>
</main>
