<div class="flex flex-col gap-5">
    <div class="dialog-header flex items-center justify-between">
        <h2 mat-dialog-title class="text-white!">Delete CV</h2>
        <button mat-icon-button (click)="onCancel()" class="mx-5">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    
        <mat-dialog-content >
            <div class="text-white! flex items-center justify-center gap-1">
                <p>Are you sure you want to delete CV</p><strong>{{data.cv.name}}</strong> ? 
            </div>
        </mat-dialog-content>


        <mat-dialog-actions>
            <button matButton="outlined" type="button" class="px-15!" (click)="onCancel()">
                CANCEL
            </button>
            <button
                class="px-15!"
                matButton="filled"
                color="primary"
                type="button"
                (click)="onAdd()"
            >
                CONFIRM
            </button>
        </mat-dialog-actions>
</div>
