// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$red-palette,
        tertiary: mat.$red-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  @include mat.tabs-overrides((
    active-label-text-color: #C63031,
    active-focus-label-text-color: #C63031,
    active-hover-label-text-color: #C63031,
    inactive-focus-label-text-color: #C63031,

    inactive-hover-label-text-color: white,
    inactive-label-text-color: white,

    inactive-ripple-color: none,
    active-ripple-color: #C63031,

    

    

    divider-height: 0px,
    container-height: 56px,

  ));

  @include mat.button-overrides((
      filled-container-color: #C63031,
      
  ));

  @include mat.form-field-overrides((
    outlined-container-shape: 0px, 
    filled-container-shape: 0px, 

    outlined-label-text-color: #C0C0C0,
    // Толщина рамки в обычном состоянии (например, делаем жирнее — 2px)
    outlined-outline-width: 1px,
    // Толщина рамки при фокусе (когда пользователь пишет внутри)
    outlined-focus-outline-width: 1px,

    outlined-outline-color: #767676,
    outlined-hover-outline-color: #fff,

    outlined-input-text-color: #ffffff,
    outlined-input-text-placeholder-color: #C0C0C0,
    outlined-hover-label-text-color: #C0C0C0,
  ));

  @include mat.icon-overrides((
    color: #ffffff
  ));

  @include mat.table-overrides((
    background-color: #353535,
    row-item-outline-color: #FFFFFF14,
    row-item-label-text-color: white,
    header-headline-color: white,

    row-item-container-height: 73px,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
}
