<div class="w-full h-[44px]">
            <div class="text-[#FFFFFFB2] ml-[40px] pt-[16px] text-[16px] flex items-center">
                <a class="hover:cursor-pointer" routerLink="/cvs"> Cvs </a>
                <mat-icon class="text-[#515151]!"> navigate_next </mat-icon>
                <span class="text-[#C63031]">
                    {{cvHeader.cvsHeader()}}
                </span>
            </div>
        </div>

<main>
    @if (cvId()) {
        <nav mat-tab-nav-bar [tabPanel]="tabPanel" class="w-[70%]! md:px-10 lg:px-0">
            <a
                class=""
                mat-tab-link
                [routerLink]="['/cvs', cvId(), 'details']"
                routerLinkActive
                #rla_profile="routerLinkActive"
                [active]="rla_profile.isActive"
                >DETAILS</a
            >

            <a
                class=""
                mat-tab-link
                [routerLink]="['/cvs', cvId(), 'skills']"
                routerLinkActive
                #rla_skills="routerLinkActive"
                [active]="rla_skills.isActive"
                >SKILLS</a
            >

            <a
                class=""
                mat-tab-link
                [routerLink]="['/cvs', cvId(), 'projects']"
                routerLinkActive
                #rla_proj="routerLinkActive"
                [active]="rla_proj.isActive"
                >PROJECTS</a
            >

            <a
                class=""
                mat-tab-link
                [routerLink]="['/cvs', cvId(), 'preview']"
                routerLinkActive
                #rla_prev="routerLinkActive"
                [active]="rla_prev.isActive"
                >PREVIEW</a
            >
        </nav>
    }

    <mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>

    <div>
        <router-outlet></router-outlet>
    </div>
</main>
