<div class="w-full h-screen flex justify-center items-center">
    @if (isDone()) {
        <div
            class="w-[550px] min-w-[300px] px-[15px] flex flex-col gap-10 justify-around items-center"
        >
            <p class="text-[35px] text-white">Reset Password Done!</p>
        </div>
    } @else {
        <main
            class="w-[550px] min-w-[300px] px-[15px] flex flex-col gap-10 justify-around items-center"
        >
            <div class="flex flex-col items-center gap-8">
                <p class="text-[35px] text-white">Reset Password</p>
            </div>

            <div>
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Password</mat-label>

                    <input [(ngModel)]="password" matInput placeholder="Enter your password" />
                </mat-form-field>

                @if (error() != '') {
                    <mat-error> {{ error() }} </mat-error>
                }
            </div>

            <div class="flex flex-col items-center gap-5">
                <button
                    [disabled]="isSubmitDisabled()"
                    matButton="filled"
                    class="px-23! py-6!"
                    (click)="submitForm()"
                >
                    RESET
                </button>
            </div>
        </main>
    }
</div>
