@if (cv()) {
    <div #preview class="mt-10 max-w-5xl mx-auto p-10 bg-[#2b2b2b] text-[#e0e0e0] font-sans">
        <!-- Header -->
        <header class="flex justify-between items-start mb-10">
            <div>
                <h1 class="text-3xl font-normal tracking-tight text-white m-0">
                    {{ cv().user?.profile?.first_name }}

                    {{ cv().user?.profile?.last_name }}
                </h1>
                <p class="text-xs text-[#aaaaaa] tracking-widest mt-1 uppercase">
                    {{ cv().user?.position?.name }}
                </p>
            </div>

            <!-- Используем кастомные стили Material Outlined Кнопки из твоей темы -->
            <button
                mat-button
                matButton="outlined"
                (click)="exportPdf()"
                [disabled]="exportLock()"
                
                [class]=" exportLock() ? '!text-[#454545] !border-[#454545] [--mat-outlined-button-state-layer-color:#c63031] [--mat-outlined-button-ripple-color:#c63031]' : '!text-[#c63031] !border-[#c63031] [--mat-outlined-button-state-layer-color:#c63031] [--mat-outlined-button-ripple-color:#c63031]' "

                class="flex items-center gap-1">
                EXPORT PDF
            </button>
        </header>

        <!-- Profile Section -->
        <section class="grid grid-cols-1 md:grid-cols-[280px_1fr] gap-8 mb-10">
            <!-- Sidebar -->
            <aside class="pr-4 space-y-6">
                <div>
                    <h3 class="text-sm font-semibold text-white mb-1">Education</h3>
                    <p class="text-sm text-[#aaaaaa] leading-relaxed">{{ cv().education }}</p>
                </div>
                <div>
                    <h3 class="text-sm font-semibold text-white mb-1">Language proficiency</h3>
                    @for (elem of cv().languages; track elem) {
                        <p class="text-sm text-[#aaaaaa] leading-relaxed">
                            {{ elem.name }} {{ elem.proficiency }}
                        </p>
                    }
                </div>
                <div>
                    <h3 class="text-sm font-semibold text-white mb-1">Domains</h3>
                    @for (elem of cv().projects?.map((proj) => proj.domain); track elem) {
                        <p class="text-sm text-[#aaaaaa] leading-relaxed">{{ elem }}</p>
                    }
                </div>
            </aside>

            <!-- Main Profile Info -->
            <main class="pl-6 border-l border-[#c63031]">
                <h2 class="text-base font-semibold text-white mb-4">
                    {{ cv().name }}
                </h2>
                <p class="text-sm text-[#aaaaaa] leading-relaxed mb-6">
                    {{ cv().description }}
                </p>

                <div class="space-y-4">
                    <div class="w-full text-white mt-11">
                        <div class="container mx-auto">
                            @if(cv()){
                                @for (cat of skillsCategories(); track cat.id) {
                                @if (!cat.parent) {
                                    <!-- Проверяем наличие скиллов у родительской или дочерних категорий -->
                                    @if (
                                        cv().skills.some((skill) => skill.categoryId == cat.id) ||
                                        cv().skills.some((skill) =>
                                            cat.children?.some(
                                                (child) => child.id == skill.categoryId
                                            )
                                        )
                                    ) {
                                        <div class="category-block mb-8">
                                            <!-- Название категории -->
                                            <h2 class="text-base font-semibold mb-3 tracking-wide">
                                                {{ cat.name }}
                                            </h2>

                                            <!-- Список скиллов (Flex-ряд с переносом) -->
                                            <div class="skills-grid flex flex-wrap gap-x-6 gap-y-2">
                                                <!-- Скиллы родительской категории -->
                                                @for (skill of cv().skills; track skill.name) {
                                                    @if (skill.categoryId == cat.id) {
                                                        <span class="text-sm text-[#aaaaaa]">
                                                            {{ skill.name }}
                                                        </span>
                                                    }
                                                }

                                                <!-- Скиллы всех дочерних категорий -->
                                                @if (cat.children) {
                                                    @for (child of cat.children; track child.id) {
                                                        @for (
                                                            skill of cv().skills;
                                                            track skill.name
                                                        ) {
                                                            @if (skill.categoryId == child.id) {
                                                                <span
                                                                    class="text-sm text-[#aaaaaa]"
                                                                >
                                                                    {{ skill.name }}
                                                                </span>
                                                            }
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                            }
                            }
                        </div>
                    </div>
                </div>
            </main>
        </section>

        <!-- Projects Section -->
        <section class="mt-12 flex flex-col gap-10">
            <h2 class="text-2xl font-light text-white mb-6">Projects</h2>
            @for (project of cv().projects; track project) {
                <div class="grid grid-cols-1 md:grid-cols-[280px_1fr] gap-8">
                    <!-- Project Sidebar -->
                    <aside class="pr-4">
                        <h3
                            class="text-sm font-semibold text-[#c63031] uppercase tracking-wide mb-2"
                        >
                            {{ project.name }}
                        </h3>
                        <p class="text-sm text-[#aaaaaa] leading-relaxed">
                            {{ project.description }}
                        </p>
                    </aside>

                    <!-- Project Details -->
                    <main class="pl-6 border-l border-[#c63031] space-y-6">
                        <div>
                            <h3 class="text-sm font-semibold text-white mb-1">Project roles</h3>
                            <p class="text-sm text-[#aaaaaa]">{{ project.roles }}</p>
                        </div>

                        <div>
                            <h3 class="text-sm font-semibold text-white mb-1">Period</h3>
                            <p class="text-sm text-[#aaaaaa]">
                                {{ project.start_date }} – {{ project.end_date }}
                            </p>
                        </div>

                        <div>
                            <h3 class="text-sm font-semibold text-white mb-2">Responsibilities</h3>
                            <ul class="list-disc list-inside space-y-2 text-sm text-[#aaaaaa]">
                                @for (res of project.responsibilities; track res) {
                                    <li>{{res}}</li>
                                }
                            </ul>
                        </div>

                        <div>
                            <h3 class="text-sm font-semibold text-white mb-1">Environment</h3>
                            <p class="text-sm text-[#aaaaaa]">
                                @for (env of project.environment; track env) {
                                    {{ env }}
                                }
                            </p>
                        </div>
                    </main>
                </div>
            }
        </section>

        <!-- Professional Skills Table -->
        <section class="mt-12">
            <h2 class="text-2xl font-light text-white mb-6">Professional skills</h2>

            @if (skills()) {
                <div class="container mx-auto border-t-2 border-[#c63031] py-5">
                    @for (cat of skillsCategories(); track cat.id) {
                        @if (!cat.parent) {
                            <!-- Проверяем наличие скиллов у родительской или дочерних категорий -->
                            @if (
                                skills().some((skill) => skill.categoryId == cat.id) ||
                                skills().some((skill) =>
                                    cat.children?.some((child) => child.id == skill.categoryId))
                            ) {
                                <div
                                    class="category-block mb-8 flex gap-10 border-b-1 border-white"
                                >
                                    <!-- Название категории -->
                                    <h2
                                        class="text-base min-w-[200px] text-[#c63031] font-semibold mb-3 tracking-wide"
                                    >
                                        {{ cat.name }}
                                    </h2>

                                    <!-- Список скиллов (Flex-ряд с переносом) -->
                                    <div class="skills-grid flex flex-wrap gap-x-6 gap-y-2">
                                        <!-- Скиллы родительской категории -->
                                        @for (skill of skills(); track skill.name) {
                                            @if (skill.categoryId == cat.id) {
                                                <span class="text-sm text-[#aaaaaa]">
                                                    {{ skill.name }}
                                                </span>
                                            }
                                        }

                                        <!-- Скиллы всех дочерних категорий -->
                                        @if (cat.children) {
                                            @for (child of cat.children; track child.id) {
                                                @for (skill of skills(); track skill.name) {
                                                    @if (skill.categoryId == child.id) {
                                                        <span class="text-sm text-[#aaaaaa]">
                                                            {{ skill.name }}
                                                        </span>
                                                    }
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            }
        </section>
    </div>
}
